<%- include('./partial/header',{title : "Home Page"}) %>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand">Commercial Vaccine</a>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <div>
                <a class="btn btn-primary" href="/user/login">Login</a>
                <a class="btn btn-success" href="/user/register">Register</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <h1 class="text-center">LIst Vaccine</h1>
        <div>
            <% data.forEach(e => { %>
                <div class="card" style="width: 18rem;">
                    <img src="/image/<%= e.image %>"class="card-img-top" alt="..">
                    <div class="card-body">
                        <h5 class="card-title"><%= e.vaccine_name %> </h5>
                        <p class="card-text"><%= e.country_manufacture %> </p>
                        <p class="card-text"><%= e.base_material %> </p>
                        <p class="card-text">Efficacy : <%= convertEfficacy(e.efficacy) %> </p>    
                        <a href="/vaccine/<%= e.id %> " class="btn btn-primary">Details</a>
                    </div>
                </div>
            <% }) %> 
        </div>
    </div>
</body>
</html>